body {
background-color: black; 
color: whitesmoke;
background-image: url("Movie.jpg");
background-repeat: no-repeat;
background-size: cover;   
}

a:hover{color:grey;}
a:visited{color:grey;}
a:active{color:grey;}
a:link{color:grey;}
a{color:grey;}